*{margin:0;padding:0}
p{margin:0 0 .5em 0}
h1{margin:1em 0;text-align:center}
#catlist{
    border:1px dashed #ccc;
    border-bottom:none;
	width:660px;
	margin:10px auto;

	background-image: url("res/white_back.jpg");
	background-repeat: repeat;
}
#catlist dl{
	width:640px;
	margin:0 auto;
	border-bottom:1px dashed #ccc;
	padding:10px;
	overflow:hidden;
	background:#f2f2f2;
}
#catlist dd{overflow:auto}
#catlist dt strong{
	float:right;
	padding:0 0 0 20px;
}
#catlist dt img{
	float:left;
	margin:0 10px 0 0;
	border:1px solid #000;
}
* html dd{height:1%}/* 3px jog*/
#items{
	background-image: url("res/white_back.jpg");
	background-repeat: repeat;
}

.image1{
	width: 500px;
	height: 400px;
	background-image: url("res/cheese.jpg");
}