<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#!/">Employee Management</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#!add">ADD EMPLOYEE</a></li>
		</ul>
	</div>
</nav>

<div class=" container">
	<form>
		<div class="form-group row">
			<label for="keyword" class="col-sm-2 col-form-label">SEARCH
				BY NAME</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="keyword"
					ng-model="ser.keyword" placeholder="KEYWORD">
			</div>
			<div class="col-sm-2">
				<button type="submit" class="btn btn-primary" style="width: 100%"
					ng-click="search()">SEARCH</button>
			</div>
		</div>
	</form>

	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title" style="text-align: center">EMPLOYEES</div>
		</div>
		<ul class="row" style="list-style-type: none; padding-top: 20px; padding-right: 35px;">
			<li ng-repeat="employee in employees">
				<div class="col-md-4 col-sm-6">
					<span class="thumbnail">
						<div class="image">
							<object data="app/images/profilepic.jpg" type="image/png">
								<img src="" />
							</object>
						</div>
						<center><h4>{{employee.name}}</h4></center>
						<p>Address: {{employee.address}}</p>
						<p>Mobile: {{employee.mobile}}</p>
						<hr class="line">
						<div class="row">
							<div class="col-md-4" >
								<button class="btn btn-primary" style="width: 100%" ng-click="select(employee)">EDIT</button>
							</div>
							<div class="col-md-4" >
								<button class="btn btn-success" style="width: 100%" ng-click="view(employee)">VIEW</button>
							</div>
							<div class="col-md-4" >
								<button class="btn btn-danger" style="width: 100%" ng-click="remove(employee)">DELETE</button>
							</div>
						</div>
					</span>
				</div>
			</li>
		</ul>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title" style="text-align: center">EMPLOYEE
				DETAILS</div>
		</div>
		<div style="padding: 10px">
			<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
			<form class="form" ng-submit="add()">
				<div class="form-group">
					<label>NAME</label> <input type="text" class="form-control"
						ng-model="employee.name" required>
				</div>
				<div class="form-group">
					<label>ADDRESS</label> <input type="text" class="form-control"
						ng-model="employee.address" required>
				</div>
				<div class="form-group">
					<label>NIC</label> <input type="text" class="form-control"
						ng-model="employee.nic" required>
				</div>
				<div class="form-group">
					<label>MOBILE</label> <input type="text" class="form-control"
						ng-model="employee.mobile" required>
				</div>
				<div class="form-group">
					<label>DEPARTMENT</label> <select class="form-control"
						ng-model="employee.department" required>
						<option>Human resources</option>
						<option>Finance</option>
						<option>Purchasing</option>
						<option>Stores</option>
					</select>
				</div>
				<div class="form-group">
					<label>ROLE</label> <select class="form-control"
						ng-model="employee.role" required>
						<option>Manager</option>
						<option>Supervisor</option>
						<option>Technician</option>
						<option>Developer</option>
					</select>
				</div>
				<div>
					<button type="button" class="btn btn-primary" style="width: 100%"
						ng-show="updateButton" ng-click="update()">UPDATE</button>
				</div>
			</form>
		</div>
	</div>
</div>